@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://use.typekit.net/rug1wxk.css"); /* titillium-web, josefin-sans */

body {
  /* Global Variables */
  /* Width */
  --width-global: 100%;
  --width-central-column: calc(0.8vw + 2.8rem);
  /* Colors */
  --color-background-page: #fffde9;
  --color-background-primary: #c6baff;
  --color-background-secondary: #ffcdea;
  --color-background-tertiary: #feb0e1;
  --color-background-quaternary: #fffbe0;
  --color-background-quinary: #9ad9f8;
  --color-background-senary: #737373;
  --color-background-septenary: #ff6868;

  --color-pink: #ff69b4;
  --color-purple: #9370db;
  --color-purple-opacity: rgba(234, 223, 255, 0.726);
  --color-primary: #161616;
  --color-secondary: #eeeeee;
  --color-tertiary: #505050;

  /* Fonts */
  --font-family-primary: titillium-web, sans-serif;
  --font-family-secondary: josefin-sans, sans-serif;
  --font-weight-light: 200;
  --font-weight-medium: 400;
  --font-weight-bold: 700;
  --font-size-small: 1.3rem;
  --font-size-medium: 1.7rem;
  --font-size-big: 2.1rem;
  --font-size-extra-big: 3.3rem;
  /* Gaps */
  --gap-small: 0.5rem;
  --gap-medium: 1.5rem;
  --gap-big: 3.5rem;
  --gap-extra-big: 5rem;
  /* Shadows */
  --shadow-normal: 3px 3px 5px #5c5c5c;
  --shadow-high: 5px 5px 7px #646464;
  --shadow-low: 2px 2px 3px #3b3b3b;

  /* Padding */
  --padding-button: 0.5rem 2.5rem;
  /* Borders */
  --border-primary: 1px solid black;

  /* Sizes */
  --small: 2rem;
  --medium: 3rem;
  --big: 4rem;
  --add-button: 9rem;
}

/* @media only screen and (min-width: 600px) {
  body {
    --width-global: 90%;
  }
}

@media only screen and (min-width: 800px) {
  body {
    --width-global: 70%;
  }
}

@media only screen and (min-width: 1000px) {
  body {
    --width-global: 50%;
  }
} */
