*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  /* This defines what 1rem is */
  font-size: 62.5%; /* 1 rem = 10px; 10px/16px = 62.5% */
}

body {
  background-color: var(--color-background-page);
  box-sizing: border-box;
  color: var(--color-primary);
  font-family: var(--font-family-primary), sans-serif;
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-medium);
}

#root {
  display: grid;

  /* Keeps footer on the bottom of the page even with small contents */
  grid-template-rows: auto auto auto 1fr auto;

  min-height: 100vh;
  overflow: clip;
  place-items: center;
  position: relative;
}

a {
  color: inherit;
  text-decoration: none;
}

/* @media only screen and (min-width: 600px) {
  html {
    font-size: 65%;
  }
}

@media only screen and (min-width: 800px) {
  html {
    font-size: 70%;
  }
}

@media only screen and (min-width: 1000px) {
  html {
    font-size: 75%;
  }
} */
