.container {
  --height: 3.56rem;
  box-shadow: var(--shadow-normal);
  height: var(--height);
}

.label {
  display: none;
}

.select {
  background-color: var(--color-background-quinary);
  border: none;
  border-radius: 0;
  color: var(--color-primary);
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  height: inherit;
  text-align-last: center;
  transition: all 0.2s ease-in-out;
}

.select:hover {
  background-color: var(--color-background-primary);
}
