.container {
  display: grid;
  grid-template-rows: 1fr;
  min-height: 100%;
  place-items: center;
}

.loading {
  animation: rotation 2s infinite linear;
  height: 10rem;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
