.container {
  display: grid;
  grid-template-rows: 1fr;
  min-height: 100%;
  place-items: center;
}

.loading {
  animation: rotation 2s infinite linear;
  height: 10rem;
}

@media only screen and (max-width: 500px) {
  .loading {
    height: 8rem;
    margin-top: 5rem;
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
