.container {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap-medium);
  justify-content: center;
  list-style: none;
}

.search {
  background-color: var(--color-background-quinary);
  border: none;
  border-radius: 0;
  color: var(--color-primary);
  font-size: var(--font-size-medium);
  height: 3.56rem;
  text-align: center;
  width: 15.5rem;
}

.search::placeholder {
  color: var(--color-tertiary);
  font-size: var(--font-size-small);
}
