.container {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap-medium);
  justify-content: center;
  list-style: none;
}

.search {
  background-color: var(--color-background-quinary);
  border: none;
  color: var(--color-tertiary);
  padding: 1rem;
  text-align: center;
  width: 15rem;
}
