.img {
  height: 20rem;
  margin-top: 3rem;
}

.text {
  background-color: var(--color-background-tertiary);
  padding: 2rem;
  text-align: justify;
  width: 50%;
}

.search {
  color: var(--color-purple);
  font-weight: bold;
  text-decoration: underline;
}

@media only screen and (max-width: 475px) {
  .text {
    width: 80%;
  }
}
