.container {
  /* keeps footer on the bottom of the page even with small contents */
  align-self: end;

  background-color: var(--color-background-primary);
  display: grid;
  height: min-content;
  margin-top: var(--gap-medium);
  padding: var(--gap-medium);
  place-items: center;
  width: 100%;
}

.text {
  text-align: center;
}

.author {
  font-weight: bold;
}
