.users {
  align-self: flex-start;
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap-big);
  justify-content: center;
  margin: 0 2rem;
  margin-top: var(--gap-big);
}

.user {
  background-color: var(--color-background-quaternary);
  border: var(--border-primary);
  display: grid;
  height: 100%;
  place-items: center;
  position: relative;
  transition: all 0.2s ease-in-out;
  width: 20rem;
}

.user:hover {
  background-color: var(--color-background-primary);
}

.picture {
  background-color: var(--color-background-senary);
  border: var(--border-primary);
  display: grid;
  height: 3rem;
  left: -1.5rem;
  place-items: center;
  position: absolute;
  width: 3rem;
}

.name {
  padding: var(--padding-button);
}
