.container {
  align-items: center;
  background-color: var(--color-background-quaternary);
  border: var(--border-primary);
  display: grid;
  grid-template-columns: min-content 1fr;
  height: 17rem;
  overflow: clip;
  padding: 0.5rem;
  position: relative;
}

.cover {
  height: 15rem;
  width: 10rem;
}

.information {
  display: grid;
  grid-template-rows: min-content min-content 1fr min-content;
  height: 100%;
  padding-left: var(--gap-medium);
  width: min(50vw, 20rem);
}

.information__title {
  font-family: var(--font-family-secondary), sans-serif;
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-bold);
  margin-top: var(--gap-small);
}

.information__authors {
  font-family: var(--font-family-secondary), sans-serif;
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-medium);
  margin-top: var(--gap-small);
}

/* .information__authors > span {
  text-decoration: underline;
} */

.information__authors > span:not(:last-child) {
  border-right: 1.3px solid black;
  margin-right: var(--gap-small);
  padding-right: var(--gap-small);
}

.information__authors > span:hover {
  color: var(--color-purple);
  cursor: pointer;
}

.information__categories,
.information__pageCount {
  align-self: flex-end;
  font-family: var(--font-family-primary), sans-serif;
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-medium);
  text-align: justify;
}

.add {
  background-color: var(--color-background-tertiary);
  border-radius: 50%;
  bottom: calc(-1 * (var(--add-button) / 2));
  cursor: pointer;
  display: grid;
  height: var(--add-button);
  padding: 0.5rem 1rem;
  place-items: center;
  position: absolute;
  right: calc(-1 * (var(--add-button) / 2));
  width: var(--add-button);
}

.add__img {
  fill: white;
  height: calc(var(--add-button) / 3);
  margin-bottom: calc((var(--add-button) / 2) / 1.25);
  margin-right: calc((var(--add-button) / 2) / 1.25);
}

.add__text {
  font-family: var(--font-family-primary), sans-serif;
  font-size: calc(var(--font-size-small) * 1.1);
  text-align: center;
}
