.form {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap-medium);
  justify-content: center;
  margin-top: var(--gap-big);
}

.type__select {
  background-color: var(--color-background-quaternary);
  border: var(--border-primary);
  border-radius: 0;
  box-shadow: var(--shadow-normal);
  color: var(--color-tertiary);
  cursor: pointer;
  height: var(--big);
  text-align: center;
  text-align-last: center;
  width: 10rem;
}

.type__label {
  display: none;
}

.search {
  box-shadow: var(--shadow-normal);
  display: grid;
  place-items: center;

  position: relative;
}

.search__label {
  display: none;
}

.search__icon {
  background-color: var(--color-background-tertiary);
  border: var(--border-primary);
  display: grid;
  height: var(--medium);
  left: calc(-1 * (var(--medium) / 4));
  place-items: center;
  position: absolute;
  width: var(--medium);
}

.search__img {
  height: calc(var(--medium) * 0.8);
}

.search__input {
  background-color: var(--color-background-quaternary);
  border: var(--border-primary);
  border-radius: 0;
  color: var(--color-tertiary);
  height: var(--big);
  text-align: center;
  width: 25rem;
}
.search__clear {
  cursor: pointer;
  display: grid;
  height: var(--medium);
  place-items: center;
  position: absolute;
  right: 0;
  width: var(--medium);
}

.search__clearIcon {
  filter: saturate(0);
  height: calc(var(--medium) * 0.8);
}

.search__clearIcon:hover {
  filter: saturate(1);
}

.form__button {
  background-color: var(--color-background-secondary);
  border: var(--border-primary);
  box-shadow: var(--shadow-normal);
  color: var(--color-tertiary);
  cursor: pointer;
  font-family: inherit;
  font-size: var(--font-size-medium);
  font-weight: inherit;
  height: var(--big);
  padding: 0 var(--small);
  transition: all 0.2s ease-in-out;
}

.form__button:hover {
  box-shadow: var(--shadow-high);
  transform: scale(1.03) translateY(-1px) translateX(-1px);
}

.form__button:active {
  box-shadow: var(--shadow-low);
  transform: scale(1.03) translateY(0px) translateX(0px);
}

.error__message {
  color: red;
}

@media only screen and (max-width: 380px) {
  .form {
    flex-direction: column;
  }
}
