.container {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap-big);
  justify-content: center;
  margin-top: var(--gap-big);
  width: 80%;
}

.actions {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap-medium);
  justify-content: center;
  margin-top: var(--gap-medium);
}
