.book {
  position: relative;
}

.container {
  align-items: center;
  background-color: var(--color-background-quaternary);
  border: var(--border-primary);
  display: grid;
  grid-template-columns: min-content 1fr;
  height: 17rem;
  overflow: clip;
  padding: 0.5rem;
  position: relative;
}

.cover {
  height: 15rem;
  width: 10rem;
}

.settings {
  background-color: var(--color-background-tertiary);
  border-radius: 50%;
  bottom: calc(-1 * (var(--add-button) / 2));
  cursor: pointer;
  display: grid;
  height: var(--add-button);
  padding: 0.5rem 1rem;
  place-items: center;
  position: absolute;
  right: calc(-1 * (var(--add-button) / 2));
  width: var(--add-button);
}

.settings__img {
  fill: white;
  height: calc(var(--add-button) / 3);
  margin-bottom: calc((var(--add-button) / 2) / 1.25);
  margin-right: calc((var(--add-button) / 2) / 1.25);
}

.settings__text {
  font-family: var(--font-family-primary), sans-serif;
  font-size: calc(var(--font-size-small) * 1.1);
  text-align: center;
}

.favoriteIcon {
  height: 3rem;
  position: absolute;
  right: -0.8rem;
  top: -0.8rem;
  z-index: 101;
}
