.form {
  --input-width: 12rem;
  --margin-top: 0.5rem;
  display: grid;
  font-size: calc(var(--font-size-medium) * 1.1);
  gap: var(--margin-top);
  place-items: center;
  text-align: center;
  width: min(55vw, 22rem);
}

.reading {
  width: var(--input-width);
}

.reading__select {
  font-size: calc(var(--font-size-medium) * 0.9);
  height: var(--medium);
  text-align: center;
  width: var(--input-width);
}

.currentPage {
  width: var(--input-width);
}

.currentPage__input {
  font-size: calc(var(--font-size-medium) * 0.9);
  height: var(--medium);
  text-align: center;
  width: var(--input-width);
}

.favorite {
}

.favorite__checkbox {
}
.actions {
  display: flex;
  gap: calc(var(--margin-top) * 1.3);
  height: var(--medium);
}
.actions__button {
  background-color: var(--color-background-quinary);
  border: var(--border-primary);
  font-size: calc(var(--font-size-medium) * 0.9);
  width: 5.5rem;
}

.actions__button--red {
  background-color: var(--color-background-septenary);
}
