.information {
  display: grid;
  grid-template-rows: min-content min-content 1fr min-content min-content min-content;
  height: 100%;
  padding-left: var(--gap-medium);
}

.information__title {
  font-family: var(--font-family-secondary), sans-serif;
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-bold);
  margin-top: var(--gap-small);
}

.information__authors {
  font-family: var(--font-family-secondary), sans-serif;
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-medium);
}

.information__categories,
.information__pageCount {
  align-self: flex-end;
  font-family: var(--font-family-primary), sans-serif;
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-medium);
  margin-right: 3rem;
  text-align: left;
}

.percentage {
  align-self: center;

  display: flex;
  gap: 0.2rem;
}

.percentage__icon {
  height: 3rem;
}
