.container {
  --gap: 0.4rem;
  display: grid;
  grid-gap: var(--gap);
  grid-template-columns: min-content min-content;
  margin-bottom: var(--gap-small);
}

/* When rating the books for the first time, the stars were moving a little to the left 
because the empty array with the colored stars are in the beginning */
.container-initial {
  grid-gap: 0;
}

/* tilde will select the antecedent siblings */
.container__black {
  direction: rtl;
  display: flex;
  gap: var(--gap);
  unicode-bidi: bidi-override;
}

/* tilde will select the subsequent siblings */
.container__colored {
  direction: ltr;
  display: flex;
  gap: var(--gap);
  unicode-bidi: bidi-override;
}
