.container {
  display: grid;
  margin-top: var(--gap-big);
  place-items: center;
}

.button {
  background-color: var(--color-background-secondary);
  border: var(--border-primary);
  color: var(--color-tertiary);
  cursor: pointer;
  font-size: var(--font-size-medium);
  height: var(--big);
  margin-bottom: var(--gap-medium);
  padding: 0 var(--small);
}
