.container {
  display: grid;
  margin-top: var(--gap-big);
  place-items: center;
}

.button {
  background-color: var(--color-background-secondary);
  border: var(--border-primary);
  box-shadow: var(--shadow-normal);
  color: var(--color-tertiary);
  cursor: pointer;
  font-size: var(--font-size-medium);
  height: var(--big);
  margin-bottom: var(--gap-medium);
  padding: 0 var(--small);
  transition: all 0.2s ease-in-out;
}

.button:hover {
  box-shadow: var(--shadow-high);
  transform: scale(1.03) translateY(-1px) translateX(-1px);
}

.button:active {
  box-shadow: var(--shadow-low);
  transform: scale(1.03) translateY(0px) translateX(0px);
}
