.container {
  background-color: var(--color-background-primary);
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  place-items: center;
  width: 100%;
}

.title {
}

.login {
  justify-self: end;
  margin-right: var(--gap-medium);
}
