.container {
  background-image: linear-gradient(
    to right,
    var(--color-pink),
    var(--color-purple)
  );
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  place-items: center;
}

.title {
  color: white;
  font-size: var(--font-size-extra-big);
  text-shadow: var(--shadow-normal);
}

.login {
  justify-self: end;
  margin-right: var(--gap-medium);
}

@media only screen and (max-width: 600px) {
  .container {
    grid-template-columns: 1fr;
    place-items: center;
    width: 100%;
  }

  .login {
    justify-self: center;
    margin-bottom: var(--gap-medium);
    margin-right: 0;
  }
}
