.container {
  background-color: var(--color-background-quaternary);
  border: var(--border-primary);
  display: grid;
  height: 100%;
  place-items: center;
  position: relative;
  width: 100%;
}

.profile {
  background-color: var(--color-background-senary);
  display: grid;
  height: 3rem;
  left: -1.5rem;
  place-items: center;
  position: absolute;
  width: 3rem;
}

.profile__picture {
  border: var(--border-primary);
  height: 3rem;
}

.login {
  padding: var(--padding-button);
}
