.container {
  background-color: var(--color-background-quaternary);
  border: var(--border-primary);
  box-shadow: var(--shadow-normal);
  display: grid;
  justify-self: end;
  margin-right: var(--gap-medium);
  place-items: center;
  position: relative;
}

.picture {
  background-color: var(--color-background-senary);
  border: var(--border-primary);
  height: 3rem;
  left: -1.5rem;
  position: absolute;
  width: 3rem;
}

.login {
  padding: var(--padding-button);
}

@media only screen and (max-width: 410px) {
  .container {
    justify-self: center;
    margin: 0.5rem 0;
  }
}
