.container {
  align-items: flex-start;
  display: grid;
  justify-items: center;
  margin-bottom: var(--gap-big);
  margin-top: var(--gap-big);
  position: relative;
  width: 100%;
}

.actions {
  display: grid;
  grid-template-areas:
    "back follow"
    "title title";
  place-items: center;
  position: relative;
  text-align: center;
  width: 100%;
}

.title {
  grid-area: title;
  height: 8rem;
  margin-top: -5rem;
  width: 100%;
  z-index: 100;
}

.backIcon {
  background-color: var(--color-background-quinary);
  border: none;
  border-radius: 5rem;
  color: black;
  cursor: pointer;
  font-size: var(--font-size-medium);
  grid-area: back;
  justify-self: start;
  margin-left: 3rem;
  padding: 1rem 0;
  text-align: center;
  transition: all 0.2s ease-in-out;
  width: 10rem;
  z-index: 101;
}

.follow {
  background-color: var(--color-background-quinary);
  border: none;
  border-radius: 5rem;
  color: black;
  cursor: pointer;
  font-size: var(--font-size-medium);
  grid-area: follow;
  justify-self: end;
  margin-right: 3rem;
  padding: 1rem 0;
  text-align: center;
  transition: all 0.2s ease-in-out;
  width: 10rem;
  z-index: 101;
}

.unfollow {
  background-color: rgb(252, 70, 70);
  border: none;
  border-radius: 5rem;
  color: white;
  cursor: pointer;
  font-size: var(--font-size-medium);
  grid-area: follow;
  justify-self: end;
  margin-right: 3rem;
  padding: 1rem 0;
  text-align: center;
  transition: all 0.2s ease-in-out;
  width: 10rem;
  z-index: 101;
}

.warning {
  color: var(--color-background-septenary);
  font-size: var(--font-size-big);
  margin: 0 1rem;
  margin-top: var(--gap-medium);
  text-align: center;
}

@media (hover: hover) {
  .backIcon:hover {
    background-color: var(--color-background-primary);
  }
  .follow:hover {
    background-color: var(--color-background-primary);
  }
  .unfollow:hover {
    background-color: rgb(194, 45, 45);
  }
}

@media only screen and (max-width: 650px) {
  .title {
    height: 5rem;
    margin-top: 1.5rem;
  }
}

@media only screen and (max-width: 314px) {
  .title {
    height: 8rem;
  }
}

@keyframes border-grow {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}
