.navigation__checkbox {
  display: none;
}

.navigation__button {
  background-color: white;
  border-radius: 50%;
  box-shadow: 0 1rem 3rem rgba(black, 0.1);
  cursor: pointer;
  height: 7rem;
  position: fixed;
  right: 3rem;
  text-align: center;
  top: 3rem;
  width: 7rem;
  z-index: 2000;
}

/* @include respond(tab-port) {
            top: 4rem;
            right: 4rem;
        }

        @include respond(phone) {
            top: 3rem;
            right: 3rem;
        } */

.navigation__background {
  background-image: radial-gradient(green, blue);
  border-radius: 50%;
  height: 6rem;
  position: fixed;
  right: 3.5rem;
  top: 3.5rem;
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  width: 6rem;
  z-index: 1000;
}

/* @include respond(tab-port) {
            top: 4.5rem;
            right: 4.5rem;
        }

        @include respond(phone) {
            top: 3.5rem;
            right: 3.5rem;
        } */

.navigation__nav {
  height: 100vh;
  left: 0;

  opacity: 0;
  position: fixed;
  top: 0;
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  width: 0;
  z-index: 1500;
}

.navigation__list {
  left: 50%;
  list-style: none;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.navigation__item {
  margin: 1rem;
}

.navigation__link,
.navigation__link:link,
.navigation__link:visited {
  background-image: linear-gradient(
    120deg,
    transparent 0%,
    transparent 50%,
    white 50%
  );
  background-size: 220%;
  color: white;
  display: inline-block;
  font-size: 3rem;
  font-weight: 300;
  padding: 1rem 2rem;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.4s;
}

:where(.navigation__link, .navigation__link:link, .navigation__link:visited)
  span {
  display: inline-block;
  margin-right: 1.5rem;
}

:where(
    .navigation__link,
    .navigation__link:link,
    .navigation__link:visited
  ):hover,
:where(
    .navigation__link,
    .navigation__link:link,
    .navigation__link:visited
  ):active {
  background-position: 100%;
  color: green;
  transform: translateX(1rem);
}

/* FUNCTIONALITY */
.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(80);
}

.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  width: 100%;
}

/* ICON */
.navigation__icon {
  margin-top: 3.5rem;
  position: relative;
}
.navigation__icon,
.navigation__icon::before,
.navigation__icon::after {
  background-color: grey;
  display: inline-block;
  height: 2px;
  width: 3rem;
}

.navigation__icon::before,
.navigation__icon::after {
  content: "";
  left: 0;
  position: absolute;
  transition: all 0.2s;
}

.navigation__icon::before {
  top: -0.8rem;
}
.navigation__icon::after {
  top: 0.8rem;
}

.navigation__icon__button:hover .navigation__icon__icon::before {
  top: -1rem;
}

.navigation__button:hover .navigation__icon::after {
  top: 1rem;
}

.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent;
}

.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  transform: rotate(135deg);
}

.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(-135deg);
}
