.container {
  background-color: var(--color-background-secondary);
  border-bottom: 2px solid var(--color-background-primary);
  width: 100%;
}

.list {
  display: flex;
  gap: var(--gap-medium);
  justify-content: center;
  list-style: none;
}
