.container {
  text-align: center;
  transition: all 0.2s ease-in-out;
}

.container:hover {
  background-color: var(--color-background-primary);
}

.link {
  padding: 0 2rem;
}

.active {
  background-color: var(--color-background-primary);
}

.text {
}

@media only screen and (max-width: 435px) {
  .container {
    width: 100%;
  }

  .link {
    display: inline-block;
    padding: 0.5rem 2rem;
    width: inherit;
  }
}
